body {
    font-family: Arial;
    background-color: #111;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.video-section {
    border: 2px solid red;
    padding: 10px;
}

.log-section {
    border: 2px solid white;
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid white;
    padding: 8px;
}